.DS_Store
Enclave_A/.config_SIM_DEBUG_x64
Enclave_A/App/App.o
Enclave_A/App/Enclave_u.c
Enclave_A/App/Enclave_u.h
Enclave_A/App/Enclave_u.o
Enclave_A/Enclave/Enclave.o
Enclave_A/Enclave/Enclave_t.c
Enclave_A/Enclave/Enclave_t.h
Enclave_A/Enclave/Enclave_t.o
Enclave_A/app
Enclave_A/enclave.signed.so
Enclave_A/enclave.so
Enclave_B/.config_SIM_DEBUG_x64
Enclave_B/App/App.o
Enclave_B/App/Enclave_u.c
Enclave_B/App/Enclave_u.h
Enclave_B/App/Enclave_u.o
Enclave_B/Enclave/Enclave.o
Enclave_B/Enclave/Enclave_t.c
Enclave_B/Enclave/Enclave_t.h
Enclave_B/Enclave/Enclave_t.o
Enclave_B/app
Enclave_B/enclave.signed.so
Enclave_B/enclave.so
p_public_A.txt
p_public_B.txt
encrypted_PSK_B.txt
encrypted_PSK_A.txt
Enclave_A/.vscode
Enclave_B/.vscode
.gitignore
